:root{

    --width-side: 300px;



    --padding: 10px;
    --bgcolor:rgb(224, 231, 231);
    --hovercolor: red;
    --width-collepsed: 50px;
    --bordercolor: rgba(75, 83, 87, 0.8);
    
    }

body{

    font-family: 'Overpass', sans-serif;
}


/******************************/
/**********  HEADER  **********/
/******************************/

.nav-container{  
    background-color: rgba(62, 62, 62, 1.0);    
    color: rgb(250, 250, 250); 
    height: 70px;
    width: 100%;
    position: fixed;
    z-index: 100;
}

.nav-li{
    display: inline-block;
}


.nav-li a{
    text-decoration: none;
    height: 50px;
    color: rgb(250, 250, 250);
    margin-left: 15px;
    font-size: 18px;
}

.nav-li-logo{
    
    position: absolute;    
    left: 12px;
    font-size: 40px;
    padding: 10px;
    
}
.nav-li-logo span{
    color: rgb(187, 211, 171);
    text-shadow: 1px 1px 1px rgb(0, 0, 0);
    font-size: 50px;
    font-weight: 900;
   
}
.nav-li-logo b{
    color: rgb(255, 255, 255);
}
.nav-li-user{
    padding: 25px;
    position: absolute;    
    right: 12px;
}



/********************************************/
/**********  seccion contactenos   **********/
/********************************************/

.article-container{
    position: absolute;
    width: 100%;
    height: 100%;
}
.section-contactenos{
       
    display: flex;
    flex-wrap: wrap; 
    margin: auto;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 100%;
 
}

.section-contactenos_card{
    width: 450px;
    background: rgb(62, 62, 62);
    display: flex;
    flex-wrap: wrap; 
    margin: 50px auto;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 5px;
    box-shadow: 0px 0px 20px rgba(3, 3, 3, 0.2);
    
}





/* contac form */
form.section-contactenos_form{
    width: 420px;
}

form.section-contactenos_form .section-contactenos__user-info{
    display: flex;
    flex-direction: column;
    margin: 0 20px;
}


form.section-contactenos_form input{
    width: auto;
    padding: 10px 5px;
    margin: 10px 0;
    border: none;
    border-bottom: 1px solid rgb(133, 133, 133);
    background: rgb(62, 62, 62);
    color: rgb(255, 255, 255);
    

}


form.section-contactenos_form textarea{
     
    border: none;
    border-bottom: 1px solid rgb(133, 133, 133);
    background: rgb(62, 62, 62);
    color: rgb(255, 255, 255);    
    padding: 10px 0px;
    margin: 10px 0;  
    

}

form.section-contactenos_form h2{
    
    color: rgb(238, 27, 111);
    font-size: 35px;
    margin-bottom: 10px;
    text-align: center;
    margin-top: 30px;
}
form.section-contactenos_form p{
    
    color: rgb(133, 133, 133);
    display: flex;
    align-items: center;
    font-weight: 600;
    margin: 10px auto 30px auto;
    text-align: center;
}

form.section-contactenos_form a{
text-decoration: none;
}
#link-password:hover p{
    color: (187, 211, 171);
}



form.section-contactenos_form textarea::placeholder{
    color: rgb(133, 133, 133);
}
form.section-contactenos_form input::placeholder{
    color: rgb(133, 133, 133);
}
form.section-contactenos_form textarea:focus{
    outline:none;
}
form.section-contactenos_form input:focus{
    outline:none;
}
form.section-contactenos_form input[type="button"]:active{

    background: rgb(133, 133, 133);
}




form.section-contactenos_form textarea{
    
    max-width: 100%;
    max-height: 150px; 
    min-width: 100%;  
    min-height: 70px;

}

form.section-contactenos_form input[type="button"]{
    
    border: none;
    width: 150px;
    color: rgb(238, 27, 111);
    font-size: 20px;
    align-self: flex-end;
    

}
form.section-contactenos_form input:hover,
form.section-contactenos_form textarea:hover{
    border-bottom: 1px solid rgb(238, 27, 111);
}
#btn-login:hover{
    border: 1px solid rgb(133, 133, 133);
    border-radius: 10px;
    box-sizing: border-box;
}



@media only screen and (max-width: 750px){


    .section-contactenos_title{
        width: auto;
        margin: 25px 50px 20px 50px;
    }
    
    .section-contactenos_title h2{
        margin-left: 0px;
        margin-bottom: 0;
    }        
        
    .section-contactenos_card{
        width: 70%;  
        min-width: 350px;     
    
    }
    form.section-contactenos_form{
        width: 100%;        
    }
    
    
    
}







/**********  FOOTER  **********/

.footer-container{
    z-index: 80;
    font-size: 15px;
    min-height: 4vh; 
    width: 100%;   
    background: rgba(193, 204, 204, 0.2);
    position: fixed;    
    bottom: 0;
    right: 0;
    text-align: center;
    line-height: 2;

}